// timer component

.todo {

    &__ui {
        margin-bottom: 2rem;
        background-color: $color-bg;
        border-radius: 3px;
        border: 1px solid $color-border;

        &__header {
            padding: 1rem;
            border-bottom: 1px solid $color-border;

            label {
                cursor: pointer;
            }
        }

        &__placeholder {
            margin-bottom: 0;
            padding: 2rem 0;
            text-align: center;
            font-style: italic;
            font-size: .8em;
            color: $color-text-light;
        }

        &__footer {
            border-top: 1px solid $color-border;
            padding: 1rem 1rem 0 1rem;
        }
    }

    &__todo {
        padding: 1rem;
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
        &--completed {
            p, label {
                color: #ccc;
            }
            label {
                text-decoration: line-through;
            }
        }

        p {
            margin-bottom: 0;
        }

        input[type="checkbox"] {
            margin-bottom: 0;
        }

        label {
            cursor: pointer;
        }

        &__date {
            margin-left: 1.5rem;
            font-size: .8em;
            color: $color-text-light;
        }
    }
}
